/* ----- KLEUREN ----- */

:root {
    --divaGoud: #ffc95f;
    --divaRoze: #f27ddd;
    --divaDrop: #131313;
    --divaIvoor: #fffff0;
    --divaGroen: #44c26e;
    --divaRood: #ec1f1f;
}

/* ----- FONTS ----- */

@font-face {
    font-family: diva;
    src: url("../fonts/diva.otf");
}

@font-face {
    font-family: bling;
    src: url("../fonts/bling.otf");
}

/* ----- HTML ELEMENTEN ----- */

body {    /* Opzet body */
    background: url("../images/background.jpg");
    background-size: cover;
    font-family: diva, Verdana, serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

h1 {    /* Header 1 */
    font-family: bling, Verdana, sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: var(--divaGoud);
    text-align: center;
    margin-top: 3px;
    margin-bottom: 30px;
}

h2[class="overzicht"] { /* Header 2 financieel overzicht */
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;

}

pre {    /* Preformatted text, neemt spaties mee */
    font-family: diva, Verdana, sans-serif;
    text-align: center;
    font-weight: normal;
    margin-top: -25px;
    margin-bottom: 40px;
}

p {    /* Alinea's */
    margin: 0;
    padding: 0;
}

p[class="registratie"] {    /* Aanpassingen voor alinea's in de registratieLaag */
    margin-top: 9px;
    margin-right: -2px;
}

p[class="fi"] {    /* Aanpassingen voor alinea's in het financieel overzicht */
    font-weight: bold;
    font-size: 18px;
    color: var(--divaRoze);

}

a {    /* Standaardstijl voor linkjes */
    transition-duration: 0.4s;
    font-family: diva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: initial;
    color: var(--divaIvoor);
    text-decoration: none;
    line-height: 20px;
}

a:hover {    /* Standaardstijl voor gehoverde linkjes */
    color: var(--divaGoud);
}

input {    /* Standaardstijl invoerveld */
    width: 100%;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: diva, serif;
    color: var(--divaIvoor);
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 40px;
}

input[type="submit"] {    /* Aanpassingen invoervelden van type submit */
    margin-top: 30px;
    margin-bottom: 25px;
    background: var(--divaGoud);
    text-align: center;
    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}

input[type="submit"]:hover {    /* Aanpassingen invoervelden van type submit bij hover */
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.24), 0 7px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 1.2s;
    background: var(--divaRoze);
    cursor: pointer;
}

/* ----- KLASSEN ----- */

.standaard {    /* Standaardstijl van pagina of laag */
    background: var(--divaDrop);
    margin-top: 1%;
    border-radius: 40px;
    padding: 70px 40px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: var(--divaIvoor);
    box-sizing: border-box;
}

.loginPagina {    /* Aanpassingen voor loginPagina */
    display: block;
    padding-right: 48px;
    width: 430px;
    height: 508px;
}

.registratieLaag {    /* Aanpassingen voor registratieLaag */
    display: none;
    padding: 70px 50px;
    width: 950px;
    height: 660px;
}

.financieelOverzicht { /* Aanpassingen voor financieel overzicht*/
    display: block;
    padding: 30px 90px;
    width: 950px;
    height: 620px;
    overflow-y: auto;
    margin-top:42px;
}

.financieelOverzichtContainer { /* Container rondom financieel overzicht, anders valt avatar eraf door scrollbalk*/
    width: 950px;
    height: 620px;
}

.wachtwoordVergeten{ /* Aanpassing voor wachtwoord vergeten */
    display: none;
    padding-right: 48px;
    width: 430px;
    height: 635px;
}

.grid_3 {   /* Standaardstijl voor gebruik grid van 3 grid-cellen */
    padding-left: 45px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: auto auto auto;
}

.grid_4 {   /* Standaardstijl voor gebruik grid van 4 grid-cellen */
    display: grid;
    grid-gap: 10px;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto auto;
}

.avatar {    /* Standaardstijl voor avatars */
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: -55px;
    left: calc(50% - 55px);
}

/* ----- ID'S ----- */

#logoDigivault {    /* Stijl Digivault-logo */
    position: fixed;
    cursor: pointer;
    top: 15px;
    width: 250px;
    height: 125px;
}

#logoDigivault:hover {    /* Stijl Digivault-logo bij hover */
    transform: scale(1.03);
}

#welkomsAanbieding {    /* Stijl registratieLabel */
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 0;
    width: 225px;
    height: 150px;
    margin-right: -5px;
    margin-top: -5px;
    transition: .3s ease-in-out;
}

#welkomsAanbieding:hover {    /* Stijl registratieLabel bij hover */
    opacity: 1;
    transform: scale(1.08);
    margin-right: 0;
    margin-top: 0;
}

#registratieFormulier {    /* Creëert ruimte voor wachtwoordInfo */
    padding-right: 45px;
}

#wachtwoordCheckInformatie {    /* Stijl info over overeenkomen wachtwoorden */
    position: absolute;
    left: calc(50% + 385px);
    top: 190px;
    font-size: 12pt;
    line-height: 0.95em;
    max-width: 20px;
}

/* ----- SCRIPTS ----- */

@media only screen and (max-width: 900px) {    /* vergroot margin-top bij scherm kleiner dan 600px ivm smartphones */
    body {
        margin-top: 200px;
    }
}

::-webkit-calendar-picker-indicator{    /* Aanpassing kalendericoon registratieLaag */
    filter: invert(1);
}

::-ms-reveal {    /* Aanpassing wachtwoord-iconen registratieLaag */
    filter: invert(1);
}
